$lightest-color: #ffffff;
$lighter-color: #e0e5ec;
$light-color: #e0e5ec;
$less-light-color: #a3b1c6;

$darkest-color: #020406;
$dark-color: #0d1626;

$main-color: #152540;

$shadow-white-color: $lightest-color;
$shadow-dark-color: $less-light-color;
