.github-icon {
  background-image: url('@/assets/images/icons/github-icon.png');
  background-size: 100% 100%;
  height: 22px;
  width: 22px;
  display: inline-block;
}
.email-icon {
  background-image: url('@/assets/images/icons/email-icon.png');
  background-size: 100% 100%;
  height: 20px;
  width: 20px;
  display: inline-block;
}
.link-icon {
  background-image: url('@/assets/images/icons/link-icon.png');
  background-size: 100% 100%;
  height: 20px;
  width: 20px;
  display: inline-block;
}
