@import '@/assets/scss/colors.scss';

$header-size: 220px;

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  background-color: $lighter-color;
}

body {
  margin: 0 auto;
  padding: 0;
}

.contents {
  width: 100%;
  display: grid;
  align-content: start;
  justify-content: stretch;
}

header {
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;

  width: 100%;
  height: $header-size;
  background-color: $main-color;
}
