@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");

$background-color: #e8e9ec;
$main-color: #152540;

$header-size: 280px;

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  background-color: $background-color;
}

body {
  margin: 0 auto;
  padding: 0;
}

.contents {
  width: 100vw;
  display: grid;
  align-content: start;
  justify-content: stretch;
}

header {
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;

  width: 100vw;
  height: $header-size;
  background-color: $main-color;
}
